.name {
    color : rgba(189, 68, 20, 0.918)
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
     color: white;
    text-align: center;
}